.student-page {
  padding: 20px;
  width: 97%;
  &-row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
  }
}
